/node_modules
/public/hot
/public/storage/*
app/storage/debugbar/
public/packages/barryvdh/
public/packages/maximebf/
public/documents/
/storage/*.key
/vendor
/public/vendor
stubs
.env
composer.lock
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/documents/*
public/bulk_documents_new/*
.vscode/
laradock/
public/reciepts/*
dgdfmg,.fm.
bootstrap/cache/*
laradock
.env.local
.idea/*
public/group_members_logo/*
storage/*
public/bulkdocuments/*
storage/*
